{% extends 'base.html.twig' %}

{% block title %}Edit Fahrer{% endblock %}

{% block body %}
{% block content %}
<div class="container mt-5">
<div class="row">
    <div class="col-md-12">
    <div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title">Fahrer</h3>
        <a href="{{ path('app_fahrer_new') }}" class="btn btn-secondary">Neuer Fahrer</a>

                    </div>
					<div class="card-body">
{% endblock %}
    <h1>Edit Fahrer</h1>

    {{ include('fahrer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fahrer_index') }}">back to list</a>

    {{ include('fahrer/_delete_form.html.twig') }}
    {% block contentend %}
</div>
<div class="card-footer">
    <a href="{{ path('app_sorte_new') }}" class="btn btn-primary">Neue Sorte</a>
</div>
</div>
</div>
</div></div>
{% endblock %}
{% endblock %}
