{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
		<div class="row">
			<div class="col-md-6">
            <a class="btn btn-primary" href="{{ path('fahrer_verguetung') }}">
					Fahrer Vergütung
				</a>

            </div>
        </div>
<div class="row">
			<div class="col-md-12">
    <h1>Fahrer verwalten</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
			</div>
		</div>
        <div class="row">
        <div class="col-md-12">
    <h2>Liste der Fahrer</h2>
    <ul>
        {# This will be a comment 
        {% for f in fahrerListe %}
            <li>{{ f.name }} - Vergütung 1g: {{ f.verguetung_1g }}€, 0.5g: {{ f.verguetung_05g }}€</li>
        {% endfor %}
        #}
    </ul>
			</div>
		</div>
	</div>
{% endblock %}
