{% extends 'base.html.twig' %}

{% block title %}Einkauf{% endblock %}

{% block body %}
{% block content %}
<div class="container mt-5">
<div class="row">
    <div class="col-md-12">
    <div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title">Fahrer</h3>
        <a href="{{ path('app_fahrer_new') }}" class="btn btn-secondary">Neuer Fahrer</a>

                    </div>
					<div class="card-body">
{% endblock %}
    <h1>Einkauf</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ einkauf.id }}</td>
            </tr>
            <tr>
                <th>Mengekg</th>
                <td>{{ einkauf.mengekg }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ einkauf.datum ? einkauf.datum|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_einkauf_index') }}">back to list</a>

    <a href="{{ path('app_einkauf_edit', {'id': einkauf.id}) }}">edit</a>

    {{ include('einkauf/_delete_form.html.twig') }}
    {% block contentend %}
</div>
<div class="card-footer">
    <a href="{{ path('app_sorte_new') }}" class="btn btn-primary">Neue Sorte</a>
</div>
</div>
</div>
</div></div>
{% endblock %}
{% endblock %}
